.text {
    font-family: inherit;
    font-size: inherit;
}

.f12 {
    font-size: var(--f12);
}

.f14 {
    font-size: var(--f14);
}

.f16 {
    font-size: var(--f16);
}

.f18 {
    font-size: var(--f18);
}

.f28 {
    font-size: var(--f27);
}
